<link rel="stylesheet" href="/vendors/font-awesome-4.7/css/font-awesome.min.css">
<script src="/assets/js/jquery.213.min.js"></script>
<script src="/assets/js/pdfobject.min.js"></script>
<!--  Folders, Files, and Preview-->
<div class="col-md-9">
  <div class="col-md-6">
    <div class="card text-white bg-info mb-3 rounded-top">
      <div class="card-header pt-1 pl-0 pb-2">
        <h6 style="font-size:14px;" class="col-12">Folders</h6>
      </div>
      <div class="card-body  p-1" style="background-color:azure;border: 1px solid darkcyan;">
        <a href="/explorer"> <i style="color:gold;" class="fa fa-folder-open"></i> root </a>
        <ul class="file-tree">
          <div id="disFolderTree" class='driveList col-12' style="overflow:scroll;left:-20px;height:280px;white-space:nowrap;">
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card text-white bg-primary mb-3 rounded-top">
      <div class="card-header pt-1 pl-0 pb-2">
        <h6 style="font-size:14px;" class="col-12">Files</h6>
      </div>
      <div class="card-body p-1" style="background-color:whitesmoke;border: 1px solid blue;">
        <ul class="file-tree">
          <div id="disFileTree" class='col-12' style="height:300px;overflow:scroll;white-space:nowrap;">
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!--  For preview-->
  <div class="col-md-12">
    <style>
      .pdfobject-container {
        height: 300px;
      }
      .pdfobject {
        border: 0px solid #666;
      }
    </style>
    <div style="height:300px;" id="pdf_view"></div>

    <script type="text/javascript">
      $(document).ready(function() {
        <% if (disp != 'empty') { %>
          PDFObject.embed("<%= path %>", "#pdf_view"); <%
        } else { %>
          PDFObject.embed("/drive/No Pending Files.pdf", "#pdf_view"); <%
        } %>
      });
    </script>

    <!--  if Mobile user-->
    <div style="width:100%;" id="disContentMobile" style="display:none;">
      <canvas style="width:100%;" id='canvasPDFMobile'></canvas>
    </div>
  </div>
</div>
<!--  Action and Metadata-->
<div class="col-md-3">
  <div class="card mt-sm-1">
    <div class="card-body  rounded-top" style="border:2px solid indianred;">
      <div class="col-12">
        <div class="card  mb-sm-0">
          <div class="card-body rounded-top rounded-bottom" style="background-color:pink;border: 2px solid red;">
            <button id="butExploreView" type="button" class="btn btn-sm btn-link" style="color:purple"><i class="fa fa-eye"></i>&nbsp; View
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
              <button id="butExploreEdit" type="button" class="btn btn-sm btn-link" style="color:blue"><i class="fa fa-edit"></i>&nbsp; Edit (map drive)</button>
              <div class="dropdown-submenu">
                <button id="butExploreRoute" type="button" class="dropdown-toggle btn btn-sm btn-link" style="color:brown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share"></i>&nbsp; Route to Branch</button>
                <div id="disDropRoutemenuMobile" class="dropdown-menu" style="margin-left:-230px;" aria-labelledby="disDropRoutemenuMobile">
                  <% for (var i=0; i < docBr.length; i++) { %>
                    <%  if ((docBr[i].toUpperCase()=='ALL BRANCHES') || (docBr[i].toUpperCase()=='EXO') || (docBr[i].toUpperCase()=='DN6') || (docBr[i].toUpperCase()=='N6') || (docBr[i].toUpperCase()=='ASST.G.M.') || (docBr[i].toUpperCase()=='G.M.')) { %>
                      <div style="height:1px;border-color:black;"> </div>
                      <li><a class="<% if (docBr[i].toUpperCase()==branch.toUpperCase()) { %> disabled <% } %>  dropdown-item bg-flat-color-4" onclick="routetoBranchExplore(event,'<%= docBr[i] %>')" href="#" data-toggle="modal"
                        data-target="#routingModal"><%= docBr[i] %></a></li>
                        <% } else { %>
                          <li><a class="<% if (docBr[i].toUpperCase()==branch.toUpperCase()) { %> disabled <% } %> dropdown-item bg-flat-color-3" onclick="routetoBranchExplore(event,'<%= docBr[i] %>')" href="#" data-toggle="modal"
                            data-target="#routingModal"><%= docBr[i] %></a></li>
                            <% } } %>
                          </div>
                        </div>
                        <div class="dropdown-submenu">
                          <button id="butExploreShare" type="button" style="color:green" class="dropdown-toggle btn btn-sm btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>&nbsp; Share to (Person)</button>
                          <div id="disDropmenuMobile" class="dropdown-menu" style="margin-left:-170px;" aria-labelledby="disDropmenuMobile">
                            <li><a class="dropdown-item bg-flat-color-0">Branch Users</a></li>
                            <% docPers.forEach(function (pers){ pers.branch.sort(); pers.others.sort();
                              pers.branch.forEach(function (branch){ %>
                                <li><a class="dropdown-item bg-flat-color-1" onclick="sendExploreUser('<%= branch %>')" href="#" class="btn btn-success btn-sm"><%= branch %></a></li>
                                <% }); %>
                                <li><a class="dropdown-item bg-flat-color-0">Other Users</a></li>
                                <li id='othExploreSelect'><span><select id="selExploreOthers" style="width:120px;" class="standardSelect" tabindex="6">
                                  <% pers.others.forEach (function (others){ %>
                                    <option><%= others %></option>
                                    <% }); %>
                                  </select>
                                  <a id='othExploreSend' class="float-right badge badge-info" style="height:25px;" href="#">Send</a>
                                </span></li>
                                <% }); %>
                              </div>
                            </div>
                            <button id="butExploreDownload" type="button" class="btn btn-sm btn-link" style="color:gray"><i class="fa fa-cloud-download"></i>&nbsp; Download &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                            <button id="butExploreDelete" type="button" class="btn btn-sm btn-link" style="color:red"><i class="fa fa-thumbs-down"></i>&nbsp; Delete &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-header text-white bg-danger pt-1 pl-0 pb-2">
                      <h6 style="font-size:14px;" class="col-12">Metadata</h6>
                    </div>
                    <div class="card-body" style="border:2px solid indianred;">
                      <div class="col-12 ">

                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Author</label></div>
                          <div class="col-sm-9"><input style="width:170px;" type="text" id="metaAuthor" class="input-sm form-control-sm form-control"></div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Date&nbsp;Modified</label></div>
                          <div class="col-sm-9"><input style="width:170px;" type="text" id="metaDeyt" class="input-sm form-control-sm form-control"></div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Size</label></div>
                          <div class="col-sm-9"><input style="width:170px;" type="text" id="metaSize" class="input-sm form-control-sm form-control"></div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Classification</label></div>
                          <div class="col-sm-9">
                            <input style="width:170px;" type="text" id="metaClass" class="input-sm form-control-sm form-control">
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Tags</label></div>
                          <div class="col-sm-9">
                            <select id="metaTags" style="width:170px;" class="form-control-sm form-control"></select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Reference</label></div>
                          <div class="col-sm-9">
                            <select id="metaRef" style="width:170px;" class="form-control-sm form-control"></select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Enclosure</label></div>
                          <div class="col-sm-9">
                            <select id="metaEnc" style="width:170px;" class="form-control-sm form-control"></select>
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="col-sm-3" style="left:-50px;"><label class="col-form-label-sm">Comments</label></div>
                          <div class="col-sm-9">
                            <select id="metaComment" style="width:170px;" class="form-control-sm form-control"></select>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <!-- Mobile Friendly -->
                <script>
                  if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    if (window.matchMedia("(orientation: portrait)").matches) {
                      document.getElementById('disDropmenuMobile').style.marginLeft = '0px';
                      document.getElementById('disDropmenuMobile').style.marginTop = '70px';
                      document.getElementById('disDropRoutemenuMobile').style.marginLeft = '0px';
                      document.getElementById('disDropRoutemenuMobile').style.marginTop = '100px';
                    } else {}
                  } else {
                    document.getElementById('disContentMobile').style.display = "none";
                  }
                </script>
                <!-- /Mobile Friendly -->

                <script src="/assets/explorer.js"></script>
